@*Index page for items(connect with ItemsController)*@
@* here following @model gives access to the itemCategoryViewModel that the controller passed to the view*@
@*when we use the below line it says that this whole page using this model*@
@*this specifies the type of object that this view expects*@
@model ShoppingCart.Models.ItemCategoryViewModel



@{
    ViewData["Title"] = "Products List";
}


<div class="search-bottom">
    @*here the get command gives a the search query in the link*@
    <form asp-controller="Items" asp-action="Index" method="get">
        <p>
            <div class="sidenav">
                <a class="add-to-cart-btn add-to-cart-btn-outline-success" asp-action="Create">ADD</a>
                @foreach (var category in ViewBag.category)
                {
                    <input class="category-filter no-outline" type="submit" asp-for="ItemCategory" value=@category /><br />
                }
            </div>



            @*When filtered SearchString equals the given value in the input field*@
            <div class="title-search">
                <input class="title-search-input no-outline" placeholder="Search product name" type="text" name="SearchString" />
                <input class="filter no-outline" type="submit" value="" />
                <i class="fas fa-search"></i>
            </div>

        </p>
    </form>
    <br />
</div>

<div class="main">
    @foreach (var category in ViewBag.category)
    {
        <br />
        @foreach (var item in Model.Items)
        {
            @if (category == item.Category)
            {
                <h5>Category @category</h5>
                <hr />
                break;
            }
        }

        <div class="container">
            <div class="row h-200">
                @foreach (var item in Model.Items)
                {
                    @if (category == item.Category)
                    {

                        <div class="col-3">

                            <div class="product-card card-border card-border-success shadow-0 mb-3 text-center" style="width: 10rem">
                                <div class="card-body">
                                    <h7 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h7>
                                    <img class="mx-auto d-block" src="~/images/@item.ImageName"
                                         height="100" width="100" />
                                    <br />
                                    <p class="font-weight-bold">
                                        Rs.@Html.DisplayFor(modelItem => item.Price)
                                    </p>
                                    <a class="edit-delete-btn edit-delete-btn-outline-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                    @*<a class="edit-delete-btn edit-delete-btn-outline-success" asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                                    @*<a href="#myModal" data-target="" class="edit-delete-btn edit-delete-btn-outline-success" data-toggle="modal" account-id="@item.Id">Delete</a>*@

                                    <button type="button" class="edit-delete-btn edit-delete-btn-outline-success" data-toggle="ajax-modal" data-target="#itemdeletemodal" data-url="@Url.Action($"Delete/{item.Id}")">Delete</button>

                                </div>
                            </div>
                        </div>

                    }

                }

            </div>
        </div>
    }
</div>

<div id="PlaceHolderHere"></div>
